<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body> <div class="container">
<h1>Covid-19 Tracker</h1>
    <div class="jumbotron">

        <p class="lead">Done using SpringBoot and Thymeleaf.</p>
        <hr class="my-4">
        <h1 class="display-4" th:text="${totalCases}"> </h1>
        <p class="lead">Total cases reported as of this time!</p>
    </div>


        <table  class="table"><!--Attributes accessed using Spring Expression Language.-->
            <tr>
                <th>Country</th>
                <th>State</th>
                <th>Total cases reported</th>
                <th>Changes since last day</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.state}"></td>
                <td th:text="${#numbers.formatInteger(locationStat.latestTotalCases,3,'COMMA')}">0</td>
                <td th:text="${#numbers.formatInteger(locationStat.caseDiff,3,'COMMA')== '000'} ? '0' : ${#numbers.formatInteger(locationStat.caseDiff,3,'COMMA')}"></td>
            </tr>
        </table>
    </div>
</body>
</html>